{
    "presets": [
        [
            "es2015",
            {
                "spec": true,
                "modules": "commonjs"
            }
        ]
    ],
    "comments": false,
    "plugins": [
        "transform-function-bind"
    ]
}
